<div>
    <table width="50%">
        <tr>
            <td style="width:90%;padding:5px;">
                <textarea id="sourceTextArea" rows="10" style="width:100%;"></textarea>
            </td>
            <td style="width:10%;">
                <button id="conversionButton">&#x21b2;</button>
            </td>
        </tr>
        <tr>
            <td style="width:90%;padding:5px;">
                <textarea id="convertedTextArea" rows="10" style="width:100%;"></textarea>
            </td>
            <td style="width:10%;">
                <button id="collectionButton">&#x21b2;</button>
            </td>
        </tr>
        <tr>
            <td style="width:90%;padding:5px;">
                <textarea id="wordListArea" rows="10" style="width:100%;" readonly="readonly"></textarea>
            </td>
            <td style="width:10%;">
                <button id="persistenceButton">&#x21b2;</button>
            </td>
        </tr>
        <tr>
            <td style="width:90%;padding:5px;">
                <div id="statusMessage">Text Editor</div>
            </td>
            <td style="width:10%;">
            </td>
        </tr>
    </table>
</div>
